@font-face {
    font-family: 'Formula1';
    src: url('Formula1-Bold_web_0.ttf');   
}

@font-face {
    font-family: 'Formula1';
    src: url('Formula1-Regular_web_0.ttf');     
}

@font-face {
    font-family: 'Formula1';
    src: url('Formula1-Wide_web_0.ttf');     
}